---
const { title } = Astro.props;
const user = Astro.locals.user;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="flex flex-col gap-8 bg-slate-900 text-white w-full h-full min-w-screen min-h-screen">
    <nav class="flex justify-between items-center w-full h-fit p-8">
      <a href="/" class="text-2xl font-black tracking-wider">Constellation</a> 
      { user ?
        <form method="POST" action="/auth/logout">
          <button class="px-4 py-2 bg-white text-black rounded-xl">Logout</button>
        </form>
        : 
        <a href="/auth/github" class="px-4 py-2 bg-white text-black rounded-xl">Sign in with GitHub</a>
      }
    </nav>
    <slot />
	</body>
</html>
